@using ContactUs.Models

@model List<ContactUs.Models.Message>


@{

    var message = TempData["IsSuccess"];
    var  counter = 1;
   
}

@section style
{
    <style>
        thead th {
            text-align: right;
        }

        thead {
            box-shadow: 0 0 2px 0 gray;
            background: #0000000d;
        }

        body {
            background-image: url('/images/bg-01.jpg');
            background-size: cover;
        }

        
    </style>
}

<div class="container">
    <div class="card">
           
        @if(message != null)
        {
            <div class="alert alert-success">
                    shod
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                nashod
            </div>
        }
        <div class="card-header">
            لیست پیام ها
        </div>
       
        <div class="card-body">
            @* <partial name="_Message" /> *@
        </div>
        <div class="card-body">
            @Component.InvokeAsync("Messagess")
        </div>
        <div>
            <vc:messagess></vc:messagess>
        </div>
        
    </div> 
</div>